@use '../../styles/variables' as vars;

.ruler {
    position: fixed;
    inset: 0;
    z-index: vars.$z-root;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: vars.$z-overlay;
    pointer-events: none;
}

.horizontal,
.vertical {
    position: fixed;
    z-index: vars.$z-crosshairs;
    pointer-events: none;
}

.horizontal {
    left: 0;
    width: 100%;
    will-change: top;
}

.vertical {
    top: 0;
    height: 100%;
    will-change: left;
}
